*{
    padding: 0;
    margin: 0;
}

h5{
    font-weight: bold;
}

.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
}

.news .card{
    max-width: 800px;
}