/** Đặt biến **/
:root{
    --colored-bg: #5E5E5E;
    --colored-text: #000000;
    --light-text: #FFFFFF;
    --light-bg: #FFFFFF;
}

/** Full page */
body{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    padding: 0;
    margin: 0 auto;
}

/** Color section  */
.colored-section{
    background-color: var(--colored-bg);
    color: var(--light-text);
}